{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block main %}
  <style>
    .user-profile {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      background: #f4f6f9;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .profile-card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 6px 20px rgba(0,0,0,0.1);
      width: 90%;
      max-width: 450px;
      padding: 25px;
      text-align: center;
      transition: transform 0.3s;
    }

    .profile-card:hover {
      transform: translateY(-5px);
    }

    .profile-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid #007bff;
      margin-bottom: 15px;
    }

    .profile-name {
      font-size: 22px;
      font-weight: bold;
      color: #333;
    }

    .profile-email {
      font-size: 15px;
      color: #666;
      margin-bottom: 20px;
    }

    .profile-links a {
      display: block;
      margin: 10px 0;
      padding: 12px;
      background: linear-gradient(135deg, #2575fc, #6a11cb);;
      color: #fff;
      text-decoration: none;
      border-radius: 8px;
      transition: background 0.3s;
    }

    .profile-links a:hover {
      opacity:0.84;
    }

    .profile-links .logout {
      background: linear-gradient(135deg, #b41d89, #b01c1c);;
    }

    .logout:hover {
      opacity:0.76;
    }

    @media (max-width: 500px) {
      .profile-card {
        padding: 20px;
      }
      .profile-name {
        font-size: 20px;
      }
    }

    footer{
      text-align:center;
    }
  </style>


<div class = "user-profile">
  <div class="profile-card">
    <img src="https://th.bing.com/th/id/OIP.U0lavRZhl9Y5-e_-UiptAwHaHa?w=171&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3" alt="User Image" class="profile-img">
    <div class="profile-name" style = "text-transform:capitalize;">{{user.username}}</div>
    <div class="profile-email">{{user.email}}</div>

    <div class="profile-links">
      <a href="">Uploaded Notes</a>
      <a href="">Uploaded Sample Paper</a>
      <a href="{% url "change_password" %}">Change Password</a>
      <a href="{% url "logout" %}" class="logout">Logout</a>
    </div>
  </div>
</div>
{% endblock main %}