{% extends "base.html" %}

{% block title %}Change Password{% endblock title %}

{% block main %}
<header>
  {% load static %}
  <link rel= "stylesheet" href = "{% static "auth.css" %}">
</header>

<div class="register-page">
  <div class="register-container">
    <h2>Update Password</h2>
    <form method="POST" action="{% url 'change_password' %}" class="register-form">
        {% csrf_token %}
      <div class="form-group">
        <label for="password">Old Password</label>
        <input type="password" id="password" placeholder="Enter old password" name="old_password" required>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password" placeholder="Enter New password" name="new_password" required>
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" id="password" placeholder="Enter Confirm password" name="confirm_password" required>
      </div>
      <button type="submit" class="btn">Update</button>
    </form>
  </div>
</div>



{% endblock main %}