{% extends "base.html" %}

{% block title %}Upload Subject{% endblock title %}
{% load static %}
{% block main %}
<head>
    <link rel="stylesheet" href="{% static 'upload.css' %}">
</head>

<body class="bg-light">

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <!-- Card -->
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header bg-success text-white text-center">
                    <h3 class="mb-0">Upload Subject in {{semester.semester}}</h3>
                </div>
                <div class="card-body">

                    <!-- Form -->
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.subject_name.label_tag }}
                            {{ form.subject_name }}
                        </div>
                        {% comment %} <div class="mb-3">
                            {{ form.semester.label_tag }}
                            {{ form.semester }}
                        </div> {% endcomment %}
                        <button type="submit" class="btn btn-success w-100">Upload Subject</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock main %}